.gradient {
  width: auto;
  height: 517px;
  background-image: linear-gradient(to top, #eb402c, #d90647);

  h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 1.4px;
    color: $primary-light;
  }
  p {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
  }
  .central-section {
    margin-left: -50px;

    .section-picture {
      margin-top: -85px;

      .opacity-picture {
        margin-top: -811px;
        margin-left: 60px;
      }
      .play-picture {
        margin-top: -860px;
        margin-left: 180px;
      }
    }
    .picture-1, .picture-2, .picture-3, .picture-4 {
      margin: 90px 50px 50px 30px;
    }
    .section-1, .section-2, .section-3, .section-4 {
      width: 260px;
      height: 115px;
      overflow: hidden;
      margin: 100px 0 0 20px;
    }
    .section-1, .section-2 {
      text-align: right;
    }
    .section-3, .section-4 {
      text-align: left;
    }
    .section-2, .section-4 {
      margin-top: 70px;
    }
  }
}

@media screen and (max-width: 575.98px) {

  .gradient {
    width: 100%;
    height: 1200px;

    h3 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
    .central-section {
      margin-left: -50px;
      display: flex;
      flex-wrap: wrap;

      .central-section_group {
        order: 6;
      }

      .section-picture {
        order: 1;
        margin-top: -50px;

        img {
          position: relative;
        }

        .main-picture {
          width: 60%;
          position: absolute;
          left: 110px;
        }
        .opacity-picture {
          position: absolute;
          top: 863px;
          left: 89px;
          width: 41%;
        }
        .play-picture {
          position: absolute;
          top: 1050px;
          left: 40px;
          width: 10%;
        }
      }
      .central-section_group_first {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: relative;
        top: 100px;
        left: 25px;
        width: auto;
      }
      .central-section_group_second {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-left: 45px;
        margin-top: 90px;
      }

      .section-1, .section-2, .section-3, .section-4 {
        width: auto;
        height: 115px;
        overflow: hidden;
        margin-top: 0;
      }
      .section-1, .section-2 {
        text-align: left;
        margin-left: 135px;
        position: relative;
        top: 450px;
      }
      .section-3, .section-4 {
        text-align: left;
        position: relative;
        top: -305px;
        left: 115px;
        width: 270px;

      }
      .section-2, .section-4 {
        margin-top: 70px;
      }
    }
  }
}






